/* General Style */

html, body {
    overflow-x: hidden;
    background-color: rgba(255, 116, 17, 1);
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation menu */

.navbar {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    width: 100%;
    background-color: rgba(253, 195, 154, 1);
    font-family: "Orbitron", sans-serif;
    padding: 10px 30px;  
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
}

.navbar .left-section {
    display: flex;
    align-items: center;  
}

.navbar h1 {
    margin: 0;
    padding-right: 10px; 
    font-size: 3vw;
}

.header-link {
    text-decoration: none; 
    color: inherit; 
}

.header-logo img {
    height: 40px; 
    width: auto;
}

.hamburger-menu {
    display: flex;
    justify-content: flex-end;
}

.hamburger-menu img {
    width: 40%;
}

/* Main Content */

.exhibition-title {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 5vh;
    margin: 5vh 0;
    color: #ffe600;
    text-shadow: 0.3vh 0.3vh 0.6vh rgba(0, 0, 0, 0.4);
    animation: bounce 1.5s infinite;
    margin-top: 15vh;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
    gap: 1vw;
    }
    

/* Section Styling */

.Geology-container, .Prehistoric-container, .Space-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5vh 5vw;
    padding: 4vh;
    background: linear-gradient(135deg, #ffe600 30%, rgba(253, 195, 154, 1) 70%);
    border-radius: 3vw;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.3);
    gap: 5vw;
    transform: skewY(-2deg);
    transition: transform 0.3s ease-in-out;
    text-align: left;
    font-size: 1.2vw;
}


.Geology-container:hover, .Prehistoric-container:hover, .Space-container:hover {
    transform: skewY(0deg) scale(1.03);
}


.Booking-container {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5vh 5vw;
    padding: 4vh;
    background: linear-gradient(135deg, #ffe600 30%, rgba(253, 195, 154, 1) 70%);
    border-radius: 3vw;
    box-shadow: 0 2vh 4vh rgba(0, 0, 0, 0.3);
    gap: 2vh;
    transform: skewY(-2deg);
    transition: transform 0.3s ease-in-out;
    text-align: left;
    font-size: 1.2vw;
}

.Geology-container p, .Prehistoric-container p, .Space-container p {
    font-family: "Exo 2";
    font-size: 1.8vw;
    margin-top: 5%;
    color: rgb(0, 0, 0);
}

.Geology-container img, .Prehistoric-container img, .Space-container img {
    width: 20vw;
}


.Booking-container h2 {
    font-family: "Orbitron", sans-serif;
    color: #000;
    margin-bottom: 10vh;
    font-size: 2vw;
}

.booking-form {
    font-family: "Exo 2", sans-serif;
    color: #000;
}

.booking-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 1.2vw;
}

.booking-form input,
.booking-form select {
    width: 100%;
    padding: 5%;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 5%;
    font-size: 1vw;
}

.booking-button {
    background-color: #000;
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-size: 1.2vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

.booking-button:hover {
    background-color: #444;
}

/* Footer */

.footer {
    display: flex; 
    justify-content: center; 
    gap: 20%;
    background-color: rgba(253, 195, 154, 1);
    padding: 2%;
}
  
.footer-flask {
    position: relative;
    width: 9%; 
    height: auto; 
    text-align: center; 
}
  
.footer-flask img {
    width: 100%;
    height: auto;
    display: block;
}
  
.footer-flask .flask-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000; 
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    font-family: "Orbitron";
}


/* Animations */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}